
body {
  background-color: rgb(57, 169, 219);
  font-family: Rubik, Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2, h3 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

body, h1, h2, h3, p {
  text-align: center;
}

.body {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

img {
  height: 100px;
  display: block;
  margin: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
