
body {
  background-color: rgb(57, 169, 219);
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2, h3 {
  font-size: 30px;
  margin-top: 50px;
}

body, h1, h2, h3, p, li {
  text-align: center;
}

.body {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 800px;
}

img {
  height: 100%;
  display: block;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.item {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

li {
  text-align: left;
}

.treats {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.hate {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
footer {
  font-size: 14px;
}

.field {
  font-size: 18px;
}

fieldset {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

button {
  background-color: #4c6baf; /* Green */
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}